/* libre-franklin-regular - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: url("./font/libre-franklin-v5-latin/libre-franklin-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Libre Franklin"), local("LibreFranklin-Regular"), url("./font/libre-franklin-v5-latin/libre-franklin-v5-latin-regular.woff2") format("woff2"), url("./font/libre-franklin-v5-latin/libre-franklin-v5-latin-regular.woff") format("woff"), url("./font/libre-franklin-v5-latin/libre-franklin-v5-latin-regular.ttf") format("truetype"), url("./font/libre-franklin-v5-latin/libre-franklin-v5-latin-regular.svg") format("svg");
  /* Legacy iOS */
}

/* libre-franklin-700 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  src: url("./font/libre-franklin-v5-latin/libre-franklin-v5-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Libre Franklin Bold"), local("LibreFranklin-Bold"), url("./font/libre-franklin-v5-latin/libre-franklin-v5-latin-700.woff2") format("woff2"), url("./font/libre-franklin-v5-latin/libre-franklin-v5-latin-regular.woff") format("woff"), url("./font/libre-franklin-v5-latin/libre-franklin-v5-latin-regular.ttf") format("truetype"), url("./font/libre-franklin-v5-latin/libre-franklin-v5-latin-regular.svg") format("svg");
  /* Legacy iOS */
}

body {
  font-family: 'Libre Franklin', sans-serif;
}

li {
  list-style: none;
}

img {
  display: block;
}

ul {
  padding: 0;
}

.our-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-nav > li:not(:last-child) {
  margin-right: 60px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.active .nav-link.white-kolir, .nav-link.white-kolir {
  font-size: 18px;
  line-height: 22px;
}

.active .nav-link.white-kolir {
  font-weight: bold;
}

.nav-link.white-kolir {
  font-weight: normal;
}

.portfolio-img {
  width: 100%;
  height: 100%;
}

.bg-picture-port {
  margin: 0 auto;
  max-width: 1440px;
  height: 768px;
  background-image: url(../img/Background-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container .white-kolir {
  color: aliceblue;
}

.hero-title-mar {
  margin-bottom: 26px;
}

.header-style {
  position: relative;
  padding-top: 93px;
  margin-bottom: 145px;
}

.hero-text-mr {
  margin-bottom: 105px;
}

.sec-title-mg {
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.first-text {
  margin-bottom: 50px;
}

.skill-section {
  background-color: #FFFAF2;
  padding-top: 90px;
  padding-bottom: 50px;
}

.about {
  padding-top: 90px;
  padding-bottom: 115px;
}

.about p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  color: #333333;
}

.about-text {
  padding-top: 15px;
  padding-right: 60px;
}

.about h3 {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}

.our-prog-bar {
  background-color: #c66c49;
}

.progress {
  background-color: #f5d6ab;
}

.my-first-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  padding-left: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-first-grid > p:nth-child(-n+7) {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}

.odun {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.odun-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.odun-2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

.odun-3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
}

.odun-4 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
}

.odun-5 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 7;
}

.odun-6 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 7;
      grid-row-start: 7;
  grid-row-end: 8;
}

.dva {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.dva-1 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.dva-2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

.dva-3 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
}

.dva-4 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
}

.dva-5 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 7;
}

.dva-6 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 7;
      grid-row-start: 7;
  grid-row-end: 8;
}

.my-second-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.first-pic {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.first-pic > img,
.second-pic > img,
.third-pic > img,
.fours-pic > img {
  width: 100%;
  height: 100%;
}

.second-pic {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

.third-pic {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
}

.fours-pic {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 6;
}

.foot-title-mg {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.col-sm-4 > h3 {
  margin-bottom: 50px;
}

.navbar-brand.white-kolir {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.navbar-toggler {
  display: block;
}

.my-first-grid {
  margin-top: 30px;
}

.about-text {
  padding: 0;
}

.col-sm-12 {
  position: relative;
}

.arrows {
  position: absolute;
  bottom: 0;
  left: 50px;
}

footer .row {
  position: relative;
}

.arrow-botton {
  position: absolute;
  bottom: 0;
  right: 20px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .jumbotron {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .hero-title-mar,
  .hero-text-mr,
  .hero-text-mr + p {
    text-align: center;
  }
  .our-flex-box {
    display: none;
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    z-index: 100;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #b9b3b3;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .our-flex-box.is-open {
    display: block;
  }
  .navbar-nav > li:not(:last-child) {
    margin-right: 0;
  }
  .our-flex-box .our-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-menu .icon-close {
    display: none;
  }
  .mobile-menu.is-open .icon-close {
    display: block;
  }
  .mobile-menu.is-open .icon-menu {
    display: none;
  }
  .icon-close,
  .icon-menu {
    fill: beige;
  }
  .mobile-menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .bg-picture-port {
    width: 468px;
    height: 275px;
    background-image: url(../img/Background-min373.jpg);
  }
  .skill .about-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }
  .skill-section {
    margin: 0 auto;
  }
  .about {
    margin: 0 auto;
    width: 468px;
  }
  .foot-title-mg {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
  .skill-section {
    width: 468px;
  }
  .jumbotron {
    padding: 0;
  }
  .foot-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-style {
    padding-top: 36px;
    margin-bottom: 20px;
  }
  .white-kolir.hero-title-mar {
    font-size: 20px;
  }
  .hero-text-mr {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
  }
  .hero-main {
    padding: 80px 20px;
  }
  .hero-title-mar {
    margin-bottom: 15px;
  }
  .sec-title-mg {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }
  .sec-title-mg ~ p {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
  }
  .about {
    padding-top: 25px;
    padding-bottom: 50px;
  }
  .first-text {
    margin-bottom: 20px;
  }
  .skill-section {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .header-logo {
    position: relative;
  }
  .mobile-menu {
    position: absolute;
    top: 5px;
    left: -150px;
  }
  .header-logo {
    margin: 0 auto;
  }
  footer ul {
    text-align: center;
  }
  .address {
    margin-top: 35px;
  }
  .portfolio-img {
    width: 60%;
    margin: 0 auto;
  }
  .foot-title-mg {
    text-align: center;
  }
  .address p {
    text-align: center;
  }
  .arrows {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */